<div class="card p-3">
  <h4>Transaction History</h4>
  <app-status-message type="danger" [message]="errorMessage"></app-status-message>

  <form [formGroup]="form" (ngSubmit)="search()" class="row g-2 mb-3">
    <div class="col-md-8"><input class="form-control" placeholder="Account Number" formControlName="accountNumber" /></div>
    <div class="col-md-4"><button class="btn btn-primary w-100" [disabled]="loading">{{ loading ? 'Loading...' : 'Load History' }}</button></div>
  </form>

  <table class="table table-sm table-striped" *ngIf="transactions.length">
    <tr><th>ID</th><th>Type</th><th>Amount</th><th>Status</th><th>Timestamp</th></tr>
    <tr *ngFor="let txn of transactions">
      <td>{{ txn.id }}</td>
      <td>{{ txn.type }}</td>
      <td>{{ txn.amount }}</td>
      <td>{{ txn.status }}</td>
      <td>{{ txn.timestamp | date : 'medium' }}</td>
    </tr>
  </table>
</div>
